!<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <form>
            <label for="username">
                Username : <input type="text" name="username" />
            </label>
            <label for="password">
                Password : <input type="text" name="username" />
            </label>
        </form>
    </body>
</html>